@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

:root {
    --white: #F1F6F9;
    --light-blue: #9BA4B5;
    --medium-blue: #394867;
    --dark-blue: #212A3E;
}

html {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    height: fill-available;
    height: -webkit-fill-available;
}

button {
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

a {
    text-decoration: none;
}

.icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: .5rem;
}

.container {
    display: flex;
    height: 100vh;
    height: 100svh;
}

.main-header {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: no-repeat scroll center/cover url('../images/header-background.jpg');
}

.main-header nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

.socials {
    display: flex;
    gap: 1rem;
    width: 65%;
}

.socials-item a i {
    font-size: 2rem;
}

.header-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    width: 65%;
    height: 95%;
}

.header-content-title {
    font-size: 2rem;
    color: var(--medium-blue);
}

.header-content-title span {
    font-size: 4rem;
    color: var(--dark-blue);
}

.header-content-description {
    color: var(--medium-blue);
    font-family: 'Roboto Mono', sans-serif;
    letter-spacing: .25rem;
}

.header-content button {
    color: var(--dark-blue);
    width: fit-content;
    margin-top: 1rem;
    padding: .25rem .5rem;
    background-color: var(--white);
    border: solid .25px var(--dark-blue);
    border-radius: 1rem;
}
