@import url('https://fonts.googleapis.com/css2?family=Mali:wght@400;700&family=Montserrat:wght@100;400;700&family=Raleway:wght@400;700&display=swap');

:root {
  /* Primary Colors */

  --blueish-purple: #7371FC;
  --greyish-purple: #CDC1FF;

  /* Neutral Colors */

  --white: #F5EFFF;
  --cream: #E5D9F2;
  --purple: #A594F9;

  /* Fonts */

  --main-title-font: 'Mali', cursive;

  --title-font: 'Raleway', sans-serif;

  --generic-font: 'Montserrat', sans-serif;

}

*::before, *::after {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--generic-font);
}

.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 75px;
  padding: .5rem 2rem;
  box-sizing: border-box;
  background-color: var(--cream);
}

.page-title {
  font-family: var(--main-title-font);
  font-size: 2rem;
  letter-spacing: .35rem;
}

.socials-ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-li {
  margin-left: 1.25rem;
  width: fit-content;
  height: 100%;
}

.socials-li:first-child {
  margin-left: 0;
}

.socials-link {
  width: fit-content;
  height: 100%;
}

.socials-logo {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.main {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 10% 90%;
  width: 100%;
  height: calc(100% - 75px);
  padding: 2rem;
  box-sizing: border-box;
  background-color: var(--white);
}

.main-title {
  grid-row: 1 / 2;
  font-family: var(--title-font);
  font-weight: 400;
  font-size: 2.5rem;
}

.projects {
  grid-row: 2 / 2;
  width: 100%;
  height: 100%;
  padding: .5rem 2rem;
  box-sizing: border-box;
  background-color: var(--purple);
  box-shadow: .75rem .75rem 0 var(--greyish-purple);
}

.projects-buttons {
  position: relative;
  top: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.projects-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 25px;
  font-weight: 500;
  font-size: 2.5rem;
  cursor: pointer;
  background: none;
  border: none;
  color: var(--blueish-purple);
}

.projects-ul {
  position: relative;
  width: 100%;
  height: 100%;
}

.projects-li {
  position: absolute;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(10, 10%);
  width: 100%;
  height: 100%;
  padding: 2rem;
  box-sizing: border-box;
  visibility: hidden;
}

.projects-li.active {
  visibility: visible;
}

.project-title {
  grid-row: 1 / 1;
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  color: var(--white);
}

.project-img {
  grid-row: 2 / 9;
  width: 100%;
  height: 100%;
  object-fit: contain;
  box-sizing: border-box;
}

.project-link {
  grid-row: 10 / 10;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35%;
  height: 100%;
  margin-inline: auto;
  background-color: var(--blueish-purple);
  border-radius: .5rem;
  color: var(--white);
  text-decoration: none;
}