@import "./global-variables.scss";

.projeto-cards {
    max-width: 80%;
    height: 90%;
    margin-inline: auto;
    position: relative;

    .projeto-button {
        z-index: 1;
        font-size: 5rem;
        color: $main-color;
        height: 100%;
        position: absolute;
        top: -5%;
        transition: 200ms;

        &:hover {
            font-size: 5.5rem;
        }

        &.previous {
            left: 5%;
        }

        &.next {
            right: 5%;
        }
    }

    .projeto-card-wrapper {
        height: 100%;
        overflow: hidden;

        .projeto-card-carousel {
            width: 100%;
            height: 100%;
            display: flex;
            flex-flow: row nowrap;

            .projeto-card {
                flex-shrink: 0;
                width: 100%;
                padding: 0 25%;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(10, 1fr);
                align-items: center;
                position: relative;
                box-sizing: border-box;

                .projeto-title {
                    grid-column: 1/2;
                    grid-row: 1/2;
                }

                .projeto-repository {
                    font-size: $normal-font-size;
                    font-style: italic;
                    text-decoration: underline;
                    grid-column: 2/3;
                    grid-row: 1/2;
                    text-align: right;
                    width: 100%;
                    transition: 200ms;

                    &:hover {
                        font-size: $normal-font-size-hover;
                    }
                }

                .projeto-content {
                    grid-column: 1/3;
                    grid-row: 2/8;
                    position: relative;
                    text-align: left;

                    .projeto-description-div {
                        width: 100%;
                        height: 100%;
                        display: grid;
                        grid-template-rows: 1fr 6fr 1fr;
                        overflow-y: auto;
                        position: absolute;
                        top: 0;
                        background: url('../../img/vollmed-docs-screenshot-bg.png');
                        background-size: cover;

                        .projeto-description {
                            grid-row: 2/3;
                            padding: .5rem 10%;
                        }
                    }

                    .projeto-screenshot {
                        visibility: hidden;
                        width: 100%;
                        height: calc(100% + 1rem);
                    }
                }

                .projeto-tecnologies {
                    grid-column: 1/3;
                    grid-row: 8/9;

                    span {
                        font-weight: 700;
                    }
                }
            }
        }
    }
}
