@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$main-color: #fff;
$normal-font-size: 1rem;
$normal-font-size-hover: calc($normal-font-size + .2rem);
$title-font-size: 1.6rem;
$title-font-size-hover: calc($title-font-size + .2rem);

body {
    height: 100svh;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.35rem;
    color: $main-color;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 4fr 1fr;
    align-items: center;
    overflow: hidden;
}

video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

.video-wrapper {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.main-header {
    grid-column: 1/2;
    grid-row: 1/2;
    text-align: center;

    .title {
        font-size: $title-font-size;
        font-weight: 700;
        margin-bottom: .5rem;

        span {
            font-size: $normal-font-size;
            font-weight: 300;
        }
    }

    .subtitle {
        font-size: $normal-font-size;
        font-weight: 300;
        font-style: italic;

        span {
            font-weight: 700;
        }
    }
}

.sobre-mim {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
    width: 75%;
    margin-inline: auto;

    img {
        width: 50px;
        height: 50px;
    }

    p {
        font-size: $normal-font-size;
        max-width: 678px;
        margin-inline: auto;

        span {
            font-weight: 700;
            font-size: $normal-font-size-hover;
            text-transform: uppercase;
        }
    }
}

.main-footer {
    grid-column: 1/2;
    grid-row: 3/4;
    color: $main-color;
    font-size: $title-font-size;
    text-transform: uppercase;
    text-decoration-line: none;
    text-decoration: none;
    width: 100%;
    height: 3rem;

    nav {
        width: 100%;
        height: 100%;
    }

    .sections {
        width: 75%;
        height: 100%;
        margin-inline: auto;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .section {
            color: $main-color;

            button {
                text-transform: uppercase;
                font-size: $title-font-size;
                color: $main-color;
                transition: 200ms;

                &:hover {
                    font-size: $title-font-size-hover;
                }
            }
        }
    }
}
