@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

$normal-font-size: 1rem;
$normal-font-size-hover: calc($normal-font-size + .2rem);
$title-font-size: 1.6rem;
$title-font-size-hover: calc($title-font-size + .2rem);

body {
    min-height: 100svh;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2rem;
}

.main-header {
    text-align: center;
    margin-top: 2rem;

    .title {
        font-size: $title-font-size;
        font-weight: 700;
        margin-bottom: .5rem;

        span {
            font-size: $normal-font-size;
            font-weight: 300;
        }
    }

    .subtitle {
        font-size: $normal-font-size;
        font-weight: 300;
        font-style: italic;

        span {
            font-weight: 700;
        }
    }
}
